## Imports

In [1]:
from pprint import pprint
from statistics import mean
import os
import gmplot
import pandas as pd

In [2]:
from dataset_bending import get_all_datasets, get_dataset_info, get_dataset_data, get_dataset_data_full, try_to_display_dataset, display_dataset_polygon, display_dataset_points, get_dataframe_alojamentos

# Dataset

In [38]:
df = get_dataframe_alojamentos()
df["nome"] = df['nome'].str.lower()
df.head(10)

{'objectid': 1, 'data_levan': 1488758400000, 'cod_dmpu': '140747', 'cod_topo': 'RCAMO0', 'n_pol': '77', 'nome_aloj': 'Metro Apartment', 'ano_reg': 2016, 'ano_ab': 2016, 'n_reg': '35375/AL', 'tit_expl': None, 'qual_tit': 'Proprietario', 'tit_tipo': 'Pessoa singular (empresário em nome individual)', 'obs': None, 'pos_1951': 'S', 'nud': None, 'morada': 'Rua Rua Camões, 77 1º 1.1', 'desativo': None, 'modalidade': 'Apartamento', 'n_policia': None, 'cod_postal': '4000-144', 'data_reg': 1475193600000, 'data_ab': 1477958400000, 'toponimo': None, 'cod_freg': None, 'cod_sgr': None, 'n_ordem': None, 'cod_gis': None, 'np_codtopo': None, 'coordinates': [-8.610274113044303, 41.1525537929996]}

,id,data_levan,nome,ano_registo,type,address,freg,n_reg,lat,lon
0,1,1488758400000,metro apartment,2016,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",None,35375/AL,41.152554,-8.610274
1,2,1488758400000,be happy flat,2016,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",None,23120/AL,41.154861,-8.610286
2,3,1488758400000,camões apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,28842/AL,41.155397,-8.610221
3,4,1488758400000,zarolho,2016,Apartamento,"None, None Porto, Portugal",None,28643/AL,41.157035,-8.610126
4,5,1488758400000,casa carvalheiras,2016,Moradia,"None, 4000-159 Porto, Portugal",None,36668/AL,41.154907,-8.605619
5,6,1488758400000,e-house asprela,2016,Moradia,"None, 4200-011 Porto, Portugal",None,26065/AL,41.176717,-8.610834
6,7,1488758400000,cazv,2016,Apartamento,"Rua Rua Coutinho de Azevedo, 214 R/C, 4000-189...",None,37182/AL,41.158079,-8.596343
7,8,1488758400000,girassol,2016,Moradia,"Rua Rua Coutinho de Azevedo, 259, 4000-190 Por...",None,28382/AL,41.158200,-8.596966
8,9,1488758400000,estudio 312,2016,Apartamento,"None, 4000-188 Porto, Portugal",None,35922/AL,41.158680,-8.597245
9,10,1488758400000,andorinhas,2016,Apartamento,"None, 4200-221 Porto, Portugal",None,32219/AL,41.163204,-8.602644

In [79]:
# dfb = pd.read_csv("sample_ramalho.csv")
dfb = pd.read_csv("data-test.csv")
dfb["name"] = dfb['name'].str.lower()
dfb = dfb.drop_duplicates()
dfb = dfb.drop_duplicates(subset='license', keep='first')
print(len(dfb))
dfb.head(5)

865

,address,license,name,score_cleanliness,score_commodities,score_confort,score_free-wifi,score_global,score_location,score_price/quality,score_staff,type
0,"250 Rua de Gonçalo Cristóvão 3º Trás, União de...",53360/AL,charming flat @ trindade i,9.7,"9,2",9.4,10.0,9.3,9.0,8.6,9.6,apartamento
1,"Rua do Paraíso 126 2 DT, União de Freguesias d...",32765/AL,casa paraíso,9.6,"9,5",9.3,10.0,9.5,9.2,9.5,10.0,apartamento
2,"Rua Dr. Alves da Veiga, 205, r/c esq frente, U...",48370/AL,sunday - lovely mezzanine in oporto,9.4,"9,1",8.9,10.0,9.2,9.2,9.1,9.4,apartamento
3,"Rua de Fernandes Tomás 664, 4ºDRT, União de Fr...",80366/AL,ana d'ouro apartment ii,9.8,"9,1",9.3,10.0,9.6,9.9,9.4,9.7,apartamento
4,"Rua Júlio Dinis 560 5º E, Lordelo do Ouro e Ma...",69414/AL,av apartment,9.5,"9,4",9.5,NaN,9.4,9.1,9.4,9.5,apartamento

In [88]:
# df.loc[df.apply(lambda row: row[].astype(str).str.contains("(?i)" + "48370").any(), axis=1)]
df[df['n_reg'].str.contains("(?i)" + "48370/AL")==True]

,id,data_levan,nome,ano_registo,type,address,freg,n_reg,lat,lon
3558,3559,-2209161600000,warehouse apartment,2017,Apartamento,"Rua do Dr. Alves da Veiga, 4000-074 Porto, Por...",None,48370/AL,41.1505,-8.603682

In [89]:
# df.join(dfb, lsuffix="name", rsuffix="nome", how="inner")

In [90]:
df_complete = pd.merge(df, dfb, how="inner", left_on=["nome"], right_on=["name"], suffixes=('', '_y'))
print(len(df_complete)/len(dfb))

0.4982658959537572

In [91]:
df_complete = pd.merge(df, dfb, how="inner", left_on=["n_reg"], right_on=["license"], suffixes=('', '_y'))
print(len(df_complete)/len(dfb))
print(len(df_complete)/len(df))

0.7271676300578035
0.09448700615893045

In [92]:
print(len(dfb))
print(len(df.n_reg))
print(len(df.n_reg.unique()))
print(len(df_complete.license))
print(len(df_complete.drop_duplicates(subset='license', keep='first')))
print(len(df_complete.license.unique()))

865
6657
6647
629
623
623

# TODO complete dataset with info from other sources

In [93]:
df_complete.columns

Index(['id', 'data_levan', 'nome', 'ano_registo', 'type', 'address', 'freg',
       'n_reg', 'lat', 'lon', 'address_y', 'license', 'name',
       'score_cleanliness', 'score_commodities', 'score_confort',
       'score_free-wifi', 'score_global', 'score_location',
       'score_price/quality', 'score_staff', 'type_y'],
      dtype='object')

In [94]:
df_final = df_complete[["id", "nome", "ano_registo", "type", "n_reg", "lat", "lon", "score_global", "score_location", "score_price/quality"]]
df_complete.head(5)

,id,data_levan,nome,ano_registo,type,address,freg,n_reg,lat,lon,...,name,score_cleanliness,score_commodities,score_confort,score_free-wifi,score_global,score_location,score_price/quality,score_staff,type_y
0,3,1488758400000,camões apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,28842/AL,41.155397,-8.610221,...,apartment camões,9.6,"9,3",8.9,9.5,9.4,9.1,9.6,9.8,apartamento
1,36,1488758400000,alojamento ferreira borges,2016,Apartamento,"Rua Rua Ferreira Borges, 4050-252 Porto, Portugal",None,35755/AL,41.142301,-8.615038,...,adorable apartments in great area by porto cit...,7.7,"7,3",6.9,6.7,7.9,9.6,7.3,8.5,apartamento
2,47,1488758400000,brigitte aurran,2013,Moradia,"Rua Almada, 4050-039 Porto, Portugal",None,5406/AL,41.152017,-8.612235,...,canto de luz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alojamento de acomodação e pequeno-almoço
3,63,1488758400000,my home in porto ii,2016,Apartamento,"Rua Rua Chaimite, 10 2.º Esquerdo, 4050-193 Po...",None,37939/AL,41.162902,-8.623336,...,my home in porto 2,9.6,"9,2",9.0,10.0,9.2,8.3,9.0,9.6,apartamento
4,78,1488758400000,residencial d.duarte i,2011,Estabelecimento de hospedagem,"Avenida Rodrigues de Freitas, 89, 4000-420 Por...",None,12275/AL,41.145786,-8.597590,...,d. duarte i,7.3,"6,7",6.7,7.3,7.4,8.0,7.7,8.0,casa de hóspedes

In [95]:
df_final.to_csv("final_dataset.csv", index=None)